{% block content%}

    <br>

    <div class="container">
  <div class="row">


    <div class="col-sm-4">
      <h3>Get Started!</h3>
      <p>Welcome to the SecurityBot dashboard. Secure from the bottom up. </p>
      <p>To get started, check out some of the cool features, use the navigation bar to find them.</p>
    </div>



    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>



    <div class="col-sm-4">
      <h3>Column 3</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>

{% endblock %}